@media only screen and (max-width: 768px) {
  .modal {
    max-width: 95%;
    padding: 15px;
  }

  .modalContent {
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .description_title {
    font-size: 30px;
  }

  .description_paragraph {
    font-size: 18px;
    width: 100%;
  }

  .switcher {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: #fff;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalHeader h2 {
  margin: 0;
}

.modalContent {
  margin-bottom: 20px;
  display: flex;
}

.modalContent img {
  max-width: 100%;
  height: auto;
}

.imagesContainer {
  flex: 1;
}

.switcher {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
}

.descriptionContainer {
  flex: 1;
  padding: 20px;
}

.description_title {
  padding: 20px;
  font-size: 45px;
}

.description_paragraph {
  padding: 20px;
  font-size: 25px;
  width: 600px;
}

.scroll {
  padding: 5px;
}
